@import '../../styles/general';

.navbar {
  display: none;

  @media (min-width: 900px) {
    display: block;
  }

  &__list {
    display: flex;
    font-size: 1.4rem;

    @media (min-width: 1200px) {
      font-size: 1.8rem;
    }

    &__item {
      margin-right: 1.8rem;

      @media (min-width: 1200px) {
        margin-right: 2.8rem;
      }

      a {
        @include menuHoverEffect;
      }
    }
  }
}

.active {
  a {
    &::after {
      width: 100%;
    }
  }
}